In [1]:
# Dependencies and Setup
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import time
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# MAC: Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [/Users/kay/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [3]:
mars={}

In [4]:
#NASA Mars News Site
url = "https://redplanetscience.com/"
browser.visit(url)

In [5]:
# Parse Results HTML with BeautifulSoup>

html = browser.html
news_soup = BeautifulSoup(html, "html.parser")

In [6]:
#News
news_title=news_soup.find("div", class_="content_title").text

In [7]:
news_p=news_soup.find("div", class_="article_teaser_body").text

In [8]:
mars["news_titles"]=news_title
mars["news_p"]=news_p

In [10]:
#JPL Mars Space Image
url = "https://spaceimages-mars.com/"
browser.visit(url)
browser.find_by_tag("button")[1].click()

In [12]:
html = browser.html
jplimage = BeautifulSoup(html, "html.parser")

In [13]:
image=jplimage.find('img',class_="fancybox-image").get('src')

In [14]:
image

'image/featured/mars1.jpg'

In [17]:
featimgurl="https://spaceimages-mars.com/"+image

In [16]:
featimgurl

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [18]:
mars["featured_image_url"]=featimgurl

In [24]:
#Facts
url = "https://galaxyfacts-mars.com/"
df=pd.read_html(url)
df=df[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [25]:
df.columns=["Description","Mars","Earth"]
df.set_index("Description",inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [26]:
df_html=df.to_html()
df_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [27]:
mars["facts"]=df_html

In [31]:
#hemispheres
url = "https://marshemispheres.com/"
browser.visit(url)
result=browser.find_by_css("a.product-item img")

hemisphere_image_url=[]

for i in range(len(result)):
    hemisphere={}
    browser.find_by_css("a.product-item img")[i].click()
    element = browser.links.find_by_text('Sample').first
    img_url= element["href"]
    hemisphere["img_url"]=img_url
    hemisphere["title"]=browser.find_by_css("h2.title").text
    hemisphere_image_url.append(hemisphere)
    browser.back()

In [32]:
hemisphere_image_url

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [33]:
mars["hemispheres"]=hemisphere_image_url

In [34]:
mars

{'news_titles': 'With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen',
 'news_p': 'For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars. ',
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars1.jpg',
 'facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemispheres': [{'img_url': 'https://marshemispheres.com/images/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}]}

In [ ]:
#convert to phython script (function)
#delete some lines (cells, ie run blah)
#grab to app.py (Day 3)
#index.html use same variables